pre.subtitleAscii
  |    _   _              _   
  |   /_\ | |__  ___ _  _| |_ 
  |  / _ \| '_ \/ _ \ || |  _|
  | /_/ \_\_.__/\___/\_,_|\__|

|We're a simple minecraft server! This website is a BETA so please don't criticise it!
br
br

|News:
ul
  li 2014-05-01: It is now 15 minutes later and everything looks good... Except for the contact form, which is experiencing temporary downtime (hopefully will be fixed tomorrow).
  li 2014-05-01: We are moving the server to a new host. Expected downtime is less than an hour. You might have to wait for your dns to update.
  li 2013-12-01: We are happy to be back up. There is planned downtime of one hour tomorrow morning (2013-12-02). We apologize for the inconvenience
  li 2013-11-28: We are experiencing downtime during the thanksgiving holidays. Due to this poor timing we do not expect to be back online until 2013-12-01. We're deeply sorry
  li Due to craftbukkit not having reached 1.7, we're running a vanilla server for a while.
