pre.subtitleAscii
  |   ___                      _   _           
  |  / __|___ _ _  _ _  ___ __| |_(_)_ _  __ _ 
  | | (__/ _ \ ' \| ' \/ -_) _|  _| | ' \/ _` |
  |  \___\___/_||_|_||_\___\__|\__|_|_||_\__, |
  |                                      |___/ 
p Just point your minecraft client at 
  b sudokraft.in
  | .
  | We're on the default port.
br
