pre.subtitleAscii
  |  ___ _           _         
  | | _ \ |_  _ __ _(_)_ _  ___
  | |  _/ | || / _` | | ' \(_-<
  | |_| |_|\_,_\__, |_|_||_/__/
  |            |___/           
| We're running a short list of craftbukket plugins. Only the ones that should effect gameplay are listed here.
ul
  li
    a(href="https://github.com/euank/SudoFeedme") SudoFeedMe
    |  - Never stop running! Your health won't drop below the running-threshold or into starvation.
    | at all times.
  li
    a(href="http://dev.bukkit.org/bukkit-plugins/homespawnplus/") HomeSpawnPlus
    |  - This provides /home and /sethome commands. All other commands are disabled.
  li
    a(href="http://www.massivecraft.com/creativegates?utm_source=CreativeGates&utm_medium=DocsPlayer#building-the-frame") CreativeGates
    |  - Warp around! This plugin allows you to create telportation gates. The description for how to build them and use them in the link are applicable for our server.
