pre.subtitleAscii
  |  ___      _        
  | | _ \_  _| |___ ___
  | |   / || | / -_|_-<
  | |_|_\\_,_|_\___/__/

| Don't break stuff I guess? We're open to suggestions for proper rules, but things seem to be working now.
